#picker {
    width: 300px;
    height: 300px;
    cursor: crosshair;
    border-radius: 50%;
}
.samples .sample {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}
