:root{
    /* Light mode */
    --theme: #e93754;
    --txt-color: #333333;
    --background: #f5f5f5;
    --error: #d61e1e;

    /* Dark mode */
    --dark-text: #f5f5f5;
    --dark-bk: #333333;
    --dark-error: #ff6e6e;
}

body{
    background-color: var(--background);
    color: var(--txt-color);
    margin: 0;
    padding: 0;
    font-family: "Noto Serif Hentaigana", serif;
    /* font-family: "Dancing Script", cursive; */
}

/* --------- Header --------- */
.header{
    background-color: var(--theme);
    width: 100vw;
}

.header-img{
    width: 250px;
    padding: 25px;
}

/* --------- Container --------- */

.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --------- Footer --------- */

.footer-items{
    background-color: var(--theme);
}

.footer-img{
    width: 40px;
    padding: 25px;
}